## Import whatever to get ready

In [1]:
import pandas as pd
import numpy as np

In [2]:
%load_ext rpy2.ipython
%load_ext autoreload
%autoreload 2

%matplotlib inline  
from matplotlib import rcParams
rcParams['figure.figsize'] = (16, 100)

import warnings
from rpy2.rinterface import RRuntimeWarning
warnings.filterwarnings("ignore") # Ignore all warnings
# warnings.filterwarnings("ignore", category=RRuntimeWarning) # Show some warnings

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display, HTML

plt.rcParams['svg.fonttype'] = 'none'

於啟動期間 - 警告訊息：
1: Setting LC_COLLATE failed, using "C"
2: Setting LC_TIME failed, using "C"
3: Setting LC_MESSAGES failed, using "C"
4: Setting LC_MONETARY failed, using "C"

In [3]:
%%javascript
// Disable auto-scrolling
IPython.OutputArea.prototype._should_scroll = function(lines) {
    return false;
}

In [4]:
%%R

# My commonly used R imports
require('tidyverse')
# enable me to save photo as svg and texts as editable
require('svglite')

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.4.4     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.0
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

載入需要的套件：tidyverse
載入需要的套件：svglite
此外: 警告訊息：
於 library(package, lib.loc = lib.loc, character.only = TRUE, logical.return = TRUE, ：
  不存在叫 ‘svglite’ 這個名稱的套件

## Start with pandas

In [5]:
# read csv into data frame
df = pd.read_csv("OMDb_cleaned.csv")
# show the dataframe with all columns visible
pd.set_option('display.max_columns', None)
df.head(15)

,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Plot,Language,Country,Awards,Poster,Metascore,imdbRating,imdbVotes,imdbID,Type,DVD,BoxOffice,Internet Movie Database,Rotten Tomatoes,Metacritic,Oscar Nominations,Wins,Nominations
0,Mulholland Drive,2001.0,R,19 Oct 2001,147.0,"Drama, Mystery, Thriller",David Lynch,David Lynch,"Naomi Watts, Laura Harring, Justin Theroux",After a car wreck on the winding Mulholland Dr...,"English, Spanish, French","France, United States",Nominated for 1 Oscar. 49 wins & 61 nomination...,https://m.media-amazon.com/images/M/MV5BYTRiMz...,86.0,7.9,"380,460",tt0166924,movie,18 Oct 2016,7220243.0,7.9,84.0,86.0,1.0,49.0,61.0
1,In the Mood for Love,2000.0,PG,09 Mar 2001,98.0,"Drama, Romance",Kar-Wai Wong,Kar-Wai Wong,"Tony Leung Chiu-wai, Maggie Cheung, Siu Ping-Lam",Two neighbors form a strong bond after both su...,"Cantonese, Shanghainese, French, Spanish","Hong Kong, France",Nominated for 1 BAFTA Award44 wins & 50 nomina...,https://m.media-amazon.com/images/M/MV5BYWVjNj...,87.0,8.1,"164,987",tt0118694,movie,15 Oct 2020,2738980.0,8.1,92.0,87.0,0.0,44.0,50.0
2,There Will Be Blood,2007.0,R,25 Jan 2008,158.0,Drama,Paul Thomas Anderson,"Paul Thomas Anderson, Upton Sinclair","Daniel Day-Lewis, Paul Dano, Ciarán Hinds","A story of family, religion, hatred, oil and m...","English, American Sign",United States,Won 2 Oscars. 114 wins & 138 nominations total,https://m.media-amazon.com/images/M/MV5BMjAxOD...,93.0,8.2,"635,381",tt0469494,movie,24 Feb 2012,40222514.0,8.2,91.0,93.0,0.0,114.0,138.0
3,Spirited Away,2001.0,PG,28 Mar 2003,125.0,"Animation, Adventure, Family",Hayao Miyazaki,Hayao Miyazaki,"Daveigh Chase, Suzanne Pleshette, Miyu Irino","During her family's move to the suburbs, a sul...",Japanese,Japan,Won 1 Oscar. 58 wins & 31 nominations total,https://m.media-amazon.com/images/M/MV5BMjlmZm...,96.0,8.6,"835,536",tt0245429,movie,19 Dec 2019,15205725.0,8.6,96.0,96.0,0.0,58.0,31.0
4,Boyhood,2014.0,R,15 Aug 2014,165.0,Drama,Richard Linklater,Richard Linklater,"Ellar Coltrane, Patricia Arquette, Ethan Hawke","The life of Mason, from early childhood to his...","English, Spanish, Ukrainian, Arabic",United States,Won 1 Oscar. 175 wins & 218 nominations total,https://m.media-amazon.com/images/M/MV5BMTYzND...,100.0,7.9,"365,562",tt1065073,movie,07 Jan 2016,25352281.0,7.9,97.0,100.0,0.0,175.0,218.0
5,Eternal Sunshine of the Spotless Mind,2004.0,R,19 Mar 2004,108.0,"Drama, Romance, Sci-Fi",Michel Gondry,"Charlie Kaufman, Michel Gondry, Pierre Bismuth","Jim Carrey, Kate Winslet, Tom Wilkinson","When their relationship turns sour, a couple u...",English,United States,Won 1 Oscar. 73 wins & 111 nominations total,https://m.media-amazon.com/images/M/MV5BMTY4Nz...,89.0,8.3,"1,069,858",tt0338013,movie,12 Feb 2014,34400301.0,8.3,92.0,89.0,0.0,73.0,111.0
6,The Tree of Life,2011.0,PG-13,17 May 2011,139.0,"Drama, Fantasy",Terrence Malick,Terrence Malick,"Brad Pitt, Sean Penn, Jessica Chastain","The story of a family in Waco, Texas in 1956. ...",English,United States,Nominated for 3 Oscars. 116 wins & 129 nominat...,https://m.media-amazon.com/images/M/MV5BMTMwNj...,85.0,6.8,"183,095",tt0478304,movie,25 Nov 2015,13303319.0,6.8,85.0,85.0,3.0,116.0,129.0
7,Yi Yi,2000.0,Not Rated,16 Dec 2000,173.0,"Drama, Romance",Edward Yang,Edward Yang,"Nien-Jen Wu, Elaine Jin, Issei Ogata",Each member of a middle-class Taipei family se...,"Mandarin, Min Nan, Hokkien, English, Japanese,...","Taiwan, Japan",13 wins & 23 nominations,https://m.media-amazon.com/images/M/MV5BZDNkMG...,94.0,8.1,"27,872",tt0244316,movie,12 Jun 2007,1136776.0,8.1,NaN,94.0,0.0,13.0,23.0
8,A Separation,2011.0,PG-13,16 Mar 2011,123.0,Drama,Asghar Farhadi,Asghar Farhadi,"Payman Maadi, Leila Hatami, Sareh Bayat",A married couple are faced with a difficult de...,Persian,"Iran, France, Australia",Won 1 Oscar. 88 wins & 52 nominations total,https://m.media-amazon.com/images/M/MV5BN2JmMj...,95.0,8.3,"256,468",tt1832382,movie,12 Feb 2014,7099055.0,8.3,99.0,95.0,0.0,88.0,52.0
9,No Country for Old Men,2007.0,R,21 Nov 2007,122.0,"Crime, Drama, Thriller","Ethan Coen, Joel Coen","Joel Coen, Ethan Coen, Cormac McCarthy","Tommy Lee Jones, Javier Bardem, Josh Brolin","While out hunting, Llewelyn finds the grisly a...","English, Spanish",United States,Won 4 Oscars. 164 wins & 139 nominations total,https://m.media-amazon.com/images/M/MV5BMjA5Nj...,92.0,8.2,"1,045,552",tt0477348,movie,21 Apr 2016,74283625.0,8.2,93.0,92.0,0.0,164.0,139.0
10,Inside Llewyn Davis,2013.0,R,10 Jan 2014,104.0,"Drama, Music","Ethan Coen, Joel Coen","Joel Coen, Ethan Coen","Oscar Isaac, Carey Mulligan, John Goodman",A week in the life of a young singer as he nav...,English,"United States, United Kingdom, France",Nominated for 2 Oscars. 46 wins & 174 nominati...,https://m.media-amazon.com/images/M/MV5BMjAxNj...,93.0,7.4,"162,504",tt2042568,movie,11 Mar 2014,13235319.0,7.4,92.0,93.0,2.0,46.0,174.0
11,Zodiac,2007.0,R,02 Mar 2007,157.0,"Crime, Drama, Mystery",David Fincher,"James Vanderbilt, Robert Graysmith","Jake Gyllenhaal, Robert Downey Jr., Mark Ruffalo","Between 1968 and 1983, a San Francisco cartoon...",English,United States,3 wins & 71 nominations,https://m.media-amazon.com/images/M/MV5BN2UwND...,79.0,7.7,"590,502",tt0443706,movie,01 Aug 2013,33080084.0,7.7,90.0,79.0,0.0,3.0,71.0
12,Children of Men,2006.0,R,05 Jan 2007,109.0,"Action, Drama, Sci-Fi",Alfonso Cuarón,"Alfonso Cuarón, Timothy J. Sexton, David Arata","Julianne Moore, Clive Owen, Chiwetel Ejiofor","In 2027, in a chaotic world in which women hav...","English, German, Italian, Romanian, Spanish, A...","United States, United Kingdom, Japan",Nominated for 3 Oscars. 49 wins & 89 nominatio...,https://m.media-amazon.com/images/M/MV5BZjUzY2...,84.0,7.9,"525,754",tt0206634,movie,12 Feb 2014,35552383.0,7.9,92.0,84.0,3.0,49.0,89.0
13,The Act of Killing,2012.0,Not Rated,08 Nov 2012,117.0,"Documentary, Biography, Crime","Joshua Oppenheimer, Anonymous, Christine Cynn",NaN,"Anwar Congo, Herman Koto, Syamsul Arifin",A documentary which challenges former Indonesi...,"Indonesian, English","United Kingdom, Denmark, Norway",Nominated for 1 Oscar. 55 wins & 46 nomination...,https://m.media-amazon.com/images/M/MV5BNmZjMD...,91.0,8.2,"40,452",tt2375605,movie,10 Aug 2016,486919.0,8.2,95.0,91.0,1.0,55.0,46.0
14,"4 Months, 3 Weeks and 2 Days",2007.0,Not Rated,14 Sep 2007,113.0,Drama,Cristian Mungiu,Cristian Mungiu,"Anamaria Marinca, Laura Vasiliu, Vlad Ivanov",A woman assists her friend in arranging an ill...,Romanian,"Romania, Belgium",41 wins & 59 nominations,https://m.media-amazon.com/images/M/MV5BMTk3ND...,97.0,7.9,"62,950",tt1032846,movie,10 Oct 2016,1198208.0,7.9,96.0,97.0,0.0,41.0,59.0

In [34]:
# sort by IMDB rating, and show the title as well
IMDb_top_30 = df.sort_values(by='imdbRating', ascending=False).head(30)
IMDb_top_30[['Title', 'imdbRating','Genre']]

,Title,imdbRating,Genre
32,The Dark Knight,9.0,"Action, Crime, Drama"
50,Inception,8.8,"Action, Adventure, Sci-Fi"
37,City of God,8.6,"Crime, Drama"
3,Spirited Away,8.6,"Animation, Adventure, Family"
89,The Pianist,8.5,"Biography, Drama, Music"
31,The Lives of Others,8.4,"Drama, Mystery, Thriller"
61,Inglourious Basterds,8.4,"Adventure, Drama, War"
24,Memento,8.4,"Mystery, Thriller"
28,WALL·E,8.4,"Animation, Adventure, Family"
86,Amélie,8.3,"Comedy, Romance"
29,Oldboy,8.3,"Action, Drama, Mystery"
8,A Separation,8.3,Drama
5,Eternal Sunshine of the Spotless Mind,8.3,"Drama, Romance, Sci-Fi"
100,Requiem for a Dream,8.3,Drama
9,No Country for Old Men,8.2,"Crime, Drama, Thriller"
77,The Wolf of Wall Street,8.2,"Biography, Comedy, Crime"
2,There Will Be Blood,8.2,Drama
95,Finding Nemo,8.2,"Animation, Adventure, Comedy"
90,The Secret in Their Eyes,8.2,"Drama, Mystery, Romance"
16,Pan's Labyrinth,8.2,"Drama, Fantasy, War"
13,The Act of Killing,8.2,"Documentary, Biography, Crime"
72,Before Sunset,8.1,"Drama, Romance"
1,In the Mood for Love,8.1,"Drama, Romance"
18,Mad Max: Fury Road,8.1,"Action, Adventure, Sci-Fi"
92,Ratatouille,8.1,"Animation, Adventure, Comedy"
7,Yi Yi,8.1,"Drama, Romance"
43,12 Years a Slave,8.1,"Biography, Drama, History"
40,Inside Out,8.1,"Animation, Adventure, Comedy"
20,The Grand Budapest Hotel,8.1,"Adventure, Comedy, Crime"
87,Spotlight,8.1,"Biography, Crime, Drama"

In [35]:
# split the genre column into multiple columns
IMDb_top_30['Genre'] = IMDb_top_30['Genre'].str.split(', ')
IMDb_top_30 = IMDb_top_30.explode('Genre')

# see IMDb_top_15's genre distribution
IMDb_top_30['Genre'].value_counts()

Genre
Drama          18
Adventure       9
Crime           7
Comedy          6
Romance         6
Animation       5
Biography       5
Action          4
Mystery         4
Sci-Fi          3
Thriller        3
Family          2
War             2
Documentary     1
Music           1
Fantasy         1
History         1
Name: count, dtype: int64

In [36]:
# sort by metacritic rating, and show the title as well
metacritic_top_30 = df.sort_values(by='Metascore', ascending=False).head(30)
metacritic_top_30[['Title', 'Metascore', 'Genre']]

                                Title  Metascore                         Genre
4                             Boyhood      100.0                         Drama
16                    Pan's Labyrinth       98.0           Drama, Fantasy, War
14       4 Months, 3 Weeks and 2 Days       97.0                         Drama
43                   12 Years a Slave       96.0     Biography, Drama, History
92                        Ratatouille       96.0  Animation, Adventure, Comedy
3                       Spirited Away       96.0  Animation, Adventure, Family
8                        A Separation       95.0                         Drama
26                 The Social Network       95.0              Biography, Drama
66                    The Hurt Locker       95.0          Drama, Thriller, War
41                              Amour       95.0                         Drama
28                             WALL·E       95.0  Animation, Adventure, Family
56                   Zero Dark Thirty       95.0      Drama, History, Thriller
7                               Yi Yi       94.0                Drama, Romance
68                              Carol       94.0                Drama, Romance
40                         Inside Out       94.0  Animation, Adventure, Comedy
34     Crouching Tiger, Hidden Dragon       94.0      Action, Adventure, Drama
99                       Toni Erdmann       93.0                 Comedy, Drama
2                 There Will Be Blood       93.0                         Drama
87                          Spotlight       93.0       Biography, Crime, Drama
10                Inside Llewyn Davis       93.0                  Drama, Music
35                           Timbuktu       92.0                    Drama, War
76  The Diving Bell and the Butterfly       92.0              Biography, Drama
55             Werckmeister Harmonies       92.0                Drama, Mystery
9              No Country for Old Men       92.0        Crime, Drama, Thriller
46                          Leviathan       92.0                  Crime, Drama
54                                Ida       91.0                         Drama
33                        Son of Saul       91.0                    Drama, War
57                           Moolaadé       91.0                         Drama
69                    Stories We Tell       91.0                   Documentary
83                                Her       91.0        Drama, Romance, Sci-Fi

In [37]:
# split the genre column into multiple columns
metacritic_top_30['Genre'] = metacritic_top_30['Genre'].str.split(', ')
metacritic_top_30 = metacritic_top_30.explode('Genre')
# see metacritic_top_15's genre distribution
metacritic_top_30['Genre'].value_counts()

Genre
Drama          25
Adventure       5
War             4
Biography       4
Animation       4
Thriller        3
Crime           3
Comedy          3
Romance         3
Family          2
History         2
Fantasy         1
Action          1
Music           1
Mystery         1
Documentary     1
Sci-Fi          1
Name: count, dtype: int64

In [26]:
# sort by Rotten Tomatoes rating, and show the title as well
rotten_tomatoes_top_15 = df.sort_values(by='Rotten Tomatoes', ascending=False).head(20)
rotten_tomatoes_top_15[['Title', 'Rotten Tomatoes']]

                             Title  Rotten Tomatoes
57                        Moolaadé             99.0
95                    Finding Nemo             99.0
8                     A Separation             99.0
34  Crouching Tiger, Hidden Dragon             98.0
55          Werckmeister Harmonies             98.0
35                        Timbuktu             98.0
40                      Inside Out             98.0
93            Let the Right One In             98.0
46                       Leviathan             97.0
18              Mad Max: Fury Road             97.0
47                        Brooklyn             97.0
66                 The Hurt Locker             97.0
4                          Boyhood             97.0
87                       Spotlight             97.0
26              The Social Network             96.0
14    4 Months, 3 Weeks and 2 Days             96.0
92                     Ratatouille             96.0
84                       A Prophet             96.0
54                             Ida             96.0
33                     Son of Saul             96.0

In [6]:
# import "BBC-film-list.csv" into data frame and make sure the firt row is the header
critic_votes = pd.read_csv("BBC-film-list.csv", header=0)
critic_votes.head(15)

,Critic,Organization,Critic Country,Movie,Director,Year
0,Simon Abrams,Freelance film critic,US,Mulholland Drive,David Lynch,2001
1,Simon Abrams,Freelance film critic,US,In the Mood for Love,Wong Kar-wai,2000
2,Simon Abrams,Freelance film critic,US,The Tree of Life,Terrence Malick,2011
3,Simon Abrams,Freelance film critic,US,Yi Yi,Edward Yang,2000
4,Simon Abrams,Freelance film critic,US,Goodbye to Language,Jean-Luc Godard,2014
5,Simon Abrams,Freelance film critic,US,The White Meadows,Mohammad Rasoulof,2009
6,Simon Abrams,Freelance film critic,US,Night Across the Street,Raoul Ruiz,2012
7,Simon Abrams,Freelance film critic,US,Certified Copy,Abbas Kiarostami,2010
8,Simon Abrams,Freelance film critic,US,Sparrow,Johnnie To,2008
9,Simon Abrams,Freelance film critic,US,Fados,Carlos Saura,2007
10,Sam Adams,Freelance film critic,US,In the Mood for Love,Wong Kar-wai,2000
11,Sam Adams,Freelance film critic,US,Eternal Sunshine of the Spotless Mind,Michel Gondry,2004
12,Sam Adams,Freelance film critic,US,Syndromes and a Century,Apichatpong Weerasethakul,2006
13,Sam Adams,Freelance film critic,US,Spirited Away,Hayao Miyazaki,2001
14,Sam Adams,Freelance film critic,US,The Act of Killing,Joshua Oppenheimer,2012

In [8]:
critic_us = critic_votes[critic_votes['Critic Country'] == 'US']
critic_us

,Critic,Organization,Critic Country,Movie,Director,Year
0,Simon Abrams,Freelance film critic,US,Mulholland Drive,David Lynch,2001
1,Simon Abrams,Freelance film critic,US,In the Mood for Love,Wong Kar-wai,2000
2,Simon Abrams,Freelance film critic,US,The Tree of Life,Terrence Malick,2011
3,Simon Abrams,Freelance film critic,US,Yi Yi,Edward Yang,2000
4,Simon Abrams,Freelance film critic,US,Goodbye to Language,Jean-Luc Godard,2014
...,...,...,...,...,...,...
1745,Stephanie Zacharek,Time Magazine,US,Children of Men,Alfonso Cuarón,2006
1746,Stephanie Zacharek,Time Magazine,US,Lost in Translation,Sofia Coppola,2003
1747,Stephanie Zacharek,Time Magazine,US,Femme Fatale,Brian De Palma,2002
1748,Stephanie Zacharek,Time Magazine,US,Casino Royale,Martin Campbell,2006
1749,Stephanie Zacharek,Time Magazine,US,Blue Is the Warmest Color,Abdellatif Kechiche,2013

In [11]:
# join critic_us "Movie" with df "Title" columns, and show "Title", "Country", and "Critic Country". Name the new dataframe "df_us_votes"
df_us_votes = pd.merge(df, critic_us, left_on='Title', right_on='Movie', how='inner')[['Title', 'Country', 'Critic Country']]
df_us_votes

                   Title                Country Critic Country
0       Mulholland Drive  France, United States             US
1       Mulholland Drive  France, United States             US
2       Mulholland Drive  France, United States             US
3       Mulholland Drive  France, United States             US
4       Mulholland Drive  France, United States             US
..                   ...                    ...            ...
449  Requiem for a Dream          United States             US
450  Requiem for a Dream          United States             US
451               Carlos        France, Germany             US
452               Carlos        France, Germany             US
453               Carlos        France, Germany             US

[454 rows x 3 columns]

In [14]:
# do a value count baed on how many time a "Title" appears in the dataframe
df_us_votes['Title'].value_counts().head(20)

Title
There Will Be Blood                      21
Mulholland Drive                         20
Eternal Sunshine of the Spotless Mind    19
In the Mood for Love                     18
Inside Llewyn Davis                      17
Boyhood                                  16
Yi Yi                                    14
Zodiac                                   13
The Tree of Life                         12
Children of Men                          11
25th Hour                                11
A Separation                              9
Spirited Away                             9
Mad Max: Fury Road                        9
Holy Motors                               8
Synecdoche, New York                      8
The Grand Budapest Hotel                  8
The Social Network                        8
Certified Copy                            7
Crouching Tiger, Hidden Dragon            7
Name: count, dtype: int64

In [15]:
critic_rest_of_world = critic_votes[critic_votes['Critic Country'] != 'US']
critic_rest_of_world

,Critic,Organization,Critic Country,Movie,Director,Year
30,Arturo Aguilar,Rolling Stone Mexico,Mexico,In the Mood for Love,Wong Kar-wai,2000
31,Arturo Aguilar,Rolling Stone Mexico,Mexico,Mulholland Drive,David Lynch,2001
32,Arturo Aguilar,Rolling Stone Mexico,Mexico,Inception,Christopher Nolan,2010
33,Arturo Aguilar,Rolling Stone Mexico,Mexico,Pan's Labyrinth,Guillermo Del Toro,2006
34,Arturo Aguilar,Rolling Stone Mexico,Mexico,Caché,Michael Haneke,2005
...,...,...,...,...,...,...
1765,Raymond Zhou,China Daily,China,The Lives of Others,Florian Henckel von Donnersmarck,2006
1766,Raymond Zhou,China Daily,China,Still Life,Jia Zhangke,2006
1767,Raymond Zhou,China Daily,China,Birdman,Alejandro González Iñárritu,2014
1768,Raymond Zhou,China Daily,China,Infernal Affairs,Andrew Lau and Alan Mak,2002
1769,Raymond Zhou,China Daily,China,City of God,Fernando Meirelles and Kátia Lund,2002

In [16]:
# join critic_rest_of_world "Movie" with df "Title" columns, and show "Title", "Country", and "Critic Country". Name the new dataframe "df_rest_of_world_votes"
df_rest_of_world_votes = pd.merge(df, critic_rest_of_world, left_on='Title', right_on='Movie', how='inner')[['Title', 'Country', 'Critic Country']]
df_rest_of_world_votes

,Title,Country,Critic Country
0,Mulholland Drive,"France, United States",Mexico
1,Mulholland Drive,"France, United States",UK
2,Mulholland Drive,"France, United States",Turkey
3,Mulholland Drive,"France, United States",Brazil
4,Mulholland Drive,"France, United States",Argentina
...,...,...,...
502,Toni Erdmann,"Germany, Austria, Monaco, Romania, France, Swi...",Hong Kong
503,Toni Erdmann,"Germany, Austria, Monaco, Romania, France, Swi...",Germany
504,Toni Erdmann,"Germany, Austria, Monaco, Romania, France, Swi...",Israel
505,Toni Erdmann,"Germany, Austria, Monaco, Romania, France, Swi...",Italy
506,Requiem for a Dream,United States,Germany

In [20]:
# do a value count baed on how many time a "Title" appears in the dataframe
df_rest_of_world_votes['Title'].value_counts().head(20)

Title
In the Mood for Love                           31
Mulholland Drive                               27
Spirited Away                                  25
A Separation                                   19
There Will Be Blood                            14
Boyhood                                        14
The White Ribbon                               12
The Tree of Life                               11
Talk to Her                                    11
Pan's Labyrinth                                10
Eternal Sunshine of the Spotless Mind          10
Caché                                          10
The Lives of Others                             9
The Act of Killing                              9
Holy Motors                                     8
Yi Yi                                           8
Oldboy                                          8
Uncle Boonmee Who Can Recall His Past Lives     7
Tabu                                            7
Children of Men                                 7
Name: count, dtype: int64